body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

button {
    margin: 0.5rem;
    font-size: 1.5rem;
    background-color: #e0b47d;
    color: white;
}

#content {
    background-image: url('coffee-background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 900px;
}

.title {
    background-color: #e89126;
    color: white;
    margin: auto auto;
    padding: 1rem;
    text-align: center;
}

.coffee-background {
    height: 500px;
    width: 99vw;
}

.tile1 {
    text-align: center;
    font-size: 20px;
    background-color: bisque;
    width: 500px;
    margin: 1rem auto auto;
    padding: 2rem;
    border-radius: 10px;
    opacity: 0.8;
}

.tile2 {
    text-align: center;
    font-size: 20px;
    background-color: bisque;
    width: 500px;
    margin: 1rem auto auto;
    padding: 2rem;
    border-radius: 10px;
    opacity: 0.8;
}

.tile3 {
    text-align: center;
    font-size: 20px;
    background-color: bisque;
    width: 500px;
    margin: 1rem auto auto;
    padding: 2rem;
    border-radius: 10px;
    opacity: 0.8;
}

.footer {
    text-align: center;
    background-color: #e89126;
    color: white;
    padding: 1rem;
    position: relative;
}